<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Social Login Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hello <span th:text="${user_name}"/>!</h5>
                        <hr class="my-4">
                        <span th:if= "${user_avatar != null}">
                             <img th:src="${user_avatar}" alt="Avatar" class="avatar mx-auto d-block">
                             <hr class="my-4">
                        </span>
                        <form action="/login?logout">
                            <button class="btn btn-lg btn-block btn-secondary text-uppercase">
                                Logout
                            </button>
                        </form>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>
