<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring Social Login Demo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login with:</h5>
                        <hr class="my-4">
                        <form th:action="${facebook}">
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase">
                                <i class="fab fa-facebook-f mr-2"></i> Facebook
                            </button>
                        </form>
                        <form th:action="${github}">
                            <button class="btn btn-lg btn-github btn-block text-uppercase">
                                <i class="fab fa-github mr-2"></i> GitHub
                            </button>
                        </form>
                        <form th:action="${google}">
                            <button class="btn btn-lg btn-google btn-block text-uppercase">
                                <i class="fab fa-google mr-2"></i> Google
                            </button>
                        </form>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>